body {
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*background-color: #000000;*/
    overflow: hidden;
}

.hidden {
    display:none;
}

@media (max-width: 400px) {
    .app-title {
        font-size: 10pt;
    }
}
.app-title {
    position: absolute;
    top: 20px;
}

.italic {
    font-style: italic;
}

.gap {
    padding: 0 10px 0 10px;
}

.smalltext {
    font-size: 12px;
}

#date_input {
    padding: 10px 0 20px 0;
}

.container-title {
    padding: 0 10px 0 10px;
    border: solid 1px #0044cc;
}

.ctrlpanel {
    float: right;
}

.sidebar_btns {
    padding-top: 15px;
}

#sidebar_btn_container {
    width: 10px;
    padding: 0;
    margin: 0;
    display: block;
    position: fixed;
    z-index: 1;

}

#sidebar-toggle-btn {
    position: relative;
    background-color: #dcdcdc;
    top: 50%;
    transform: translateY(-50%);
    height: 75px;
    width: 10px;
    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border: 5px groove lightslategray;
    overflow: hidden;
}

#wrapper {
    /*margin-top: -21px;*/
    /*position: relative;*/


}

.content-layout {
    /*background-color: #000;*/
    width: 100%;
    float:right;
}


#content-display {
    margin-top:60px;
    width:100%;
    /*height:200px;*/
    /*background-color: red;*/
    overflow: auto;
}
#portfolio-name {
    padding-top: 12px;
}

.sb_controls {
    color: white;
}

#footer-text {
    font-size: x-small;
    color: white;
    text-align: center;
    width: 100%;
}

/*.tester1 {*/
    /*background-color: yellow;*/
    /*width:200px;*/
    /*height:200px;*/
/*}*/

.main {
    overflow:hidden;
}