<section ng-controller="SliderController" ng-init="init()">
    <form id="cube-controls" class="simple-form">
        <div class="cz">
            <span class="a1">Rotate X</span>
            <span class="a2" ng-bind="myform.rx"></span>
            <input class="cr" type="range" min="-360" max="360" step="1" default="0" value="0" ng-model="myform.rx"
                   ng-init="myform.rx=0"/>
        </div>

        <div class="cz">
            <span class="a1">Rotate Y</span>
            <span class="a2" ng-bind="myform.ry"></span>
            <input class="cr" type="range" min="-360" max="360" step="1" default="0" value="0" ng-model="myform.ry"
                   ng-init="myform.ry=0"/>
        </div>

        <div class="cz">
            <span class="a1">Rotate Z</span>
            <span class="a2" ng-bind="myform.rz"></span>
            <input class="cr" type="range" min="-360" max="360" step="1" default="0" value="0" ng-model="myform.rz"
                   ng-init="myform.rz=0"/>
        </div>

        <div class="cz">
            <span class="a1">Scale X</span>
            <span class="a2" ng-bind="myform.sx"></span>
            <input class="cr" type="range" min="-3" max="3" step=".1" default="0.5" value="0.5" ng-model="myform.sx"
                   ng-init="myform.sx=0.5"/>
        </div>

        <div class="cz">
            <span class="a1">Scale Y</span>
            <span class="a2" ng-bind="myform.sy"></span>
            <input class="cr" type="range" min="-3" max="3" step=".1" default="0.5" value="0.5" ng-model="myform.sy"
                   ng-init="myform.sy=0.5"/>
        </div>

        <div class="cz hidden">
            <span class="a1">Scale Z</span>
            <span class="a2" ng-bind="myform.sz"></span>
            <input class="cr" type="range" min="-3" max="3" step=".1" default="1" value="1" ng-model="myform.sz"
                   ng-init="myform.sz=1"/>
        </div>


        <div class="cz hidden">
            <span class="a1">Rotate</span>
            <span class="a2" ng-bind="myform.rt"></span>
            <input class="cr" type="range" min="-360" max="360" step="1" default="0" value="0" ng-model="myform.rt"
                   ng-init="myform.rt=0"/>
        </div>


        <div class="cz">
            <span class="a1">Skew X</span>
            <span class="a2" ng-bind="myform.skx"></span>
            <input class="cr" type="range" min="-360" max="360" step="1" default="0" value="0" ng-model="myform.skx"
                   ng-init="myform.skx=0"/>
        </div>


        <div class="cz">
            <span class="a1">Skew Y</span>
            <span class="a2" ng-bind="myform.sky"></span>
            <input class="cr" type="range" min="-360" max="360" step="1" default="0" value="0" ng-model="myform.sky"
                   ng-init="myform.sky=0"/>
        </div>
    </form>
</section>